name: MyFlow

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'     
      - name: Build & Test
        run: mvn -B -ntp verify
      - name: Verify Java
        run: |
          echo "JAVA_HOME is $JAVA_HOME"
          java -version
      - name: Deploy
        run: mvn -s .github/maven-settings.xml -B -ntp deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}